{% extends "base.html" %}

  {% load static %}


  {% block content %}


   <!-- Header -->
  <header class="text-white absolute top-0 left-0 w-full z-20 flex justify-between items-center px-8 py-5 bg-transparent">
    <a href="{% url 'home' %}" class="text-3xl font-bold">
      <img src="{% static 'images/football-logo.png' %}" alt="Football World" class="h-16 w-auto">
    </a>
    {% if user.is_authenticated %}
    <div class="flex gap-3 items-center">
      <p>{{user.email}}</p>  
      <a href="{% url 'logout' %}" class="border border-white px-6 py-2 rounded-full hover:bg-white hover:text-black transition">
        LOGOUT
      </a>
    </div>

    {% else %}
        <a href="{% url 'login' %}" class="border border-white px-6 py-2 rounded-full hover:bg-white hover:text-black transition">
          LOGIN
        </a>
    {% endif %}
  </header>


  <!-- Hero Section -->
  <section class="relative h-screen flex items-center justify-center text-center bg-cover bg-center text-white" 
    style="background-image: url('https://images.unsplash.com/photo-1508264165352-258859e62245?auto=format&fit=crop&w=1600&q=80');">
    
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black bg-opacity-60"></div>

    <!-- Hero Content -->
    <div class="relative z-10 px-6">
      <h2 class="text-5xl md:text-6xl font-extrabold mb-6">Welcome to the Home of Football</h2>
      <p class="text-lg md:text-xl text-gray-200 max-w-2xl mx-auto mb-8">
        Discover the passion, history, and beauty of the world's greatest sport.
      </p>
      <a href="{% url 'explore' %}" class="bg-green-600 hover:bg-green-700 text-white px-8 py-3 rounded-full text-lg font-semibold transition">
        Explore Now
      </a>
    </div>
  </section>

  {% endblock content %}